<img style="padding-left:2%;float:left" src="../assets/iff-logo-large.png" alt="IFF logo" width="250" height="150">
<img style="padding-left:2%;float:right;visibility: hidden" src="../assets/iff-logo-large.png" alt="IFF logo" width="250" height="150"><br>
<br>
<header>IFF Demo</header>


<router-outlet></router-outlet>
<br>

<footer style="clear: left;"> &#169; copyright, &#8704; &#8707; info here :
  <a href="https://angular.io/docs" target="_blank">Click here</a>
</footer>
<br>
<br>





















<!-- <footer id="footer">
            <div class="container-text">
              <div class="footer-nav">
            <dl>
              <dt class="nav-trigger collapsed">Phone<i class="icon-fold"></i></dt>
              <dd class="nav-slide">
                <ul>
                  <li>
                    <a href="https://oneplusstore.in/5">OnePlus 5</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/3t">OnePlus 3T</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/3">OnePlus 3</a>
                  </li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt class="nav-trigger collapsed">Accessories<i class="icon-fold"></i></dt>
              <dd class="nav-slide">
                <ul>
                  <li>
                    <a href="https://oneplusstore.in/store/cases-protection">Cases &amp; Protection</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/store/power-cables">Power &amp; Cables</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/store/audio">Audio</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/store/bundles">Bundles</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/store/gear">Gear</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/store/insurance">Protection Plan</a>
                  </li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt class="nav-trigger collapsed">Support<i class="icon-fold"></i></dt>
              <dd class="nav-slide">
                <ul>
                  <li>
                    <a href="https://oneplusstore.in/support/faq">FAQ</a>
                  </li>
                  <li>
                    <a href="http://downloads.oneplus.net/">Downloads</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/support/getsupport">Warranty and Repairs</a>
                  </li>
                  <li>
                    <a href="https://oneplusstore.in/support">Contact us for support</a>
                  </li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt class="nav-trigger collapsed">Company<i class="icon-fold"></i></dt>
              <dd class="nav-slide">
                <ul>
                  <li>
                    <a href="https://oneplusstore.in/about-us">About OnePlus</a>
                  </li>
                  <li>
                    <a href="https://forums.oneplus.net/">Community</a>
                  </li>
                  <li>
                    <a href="https://oneplus.net/careers">Careers</a>
                  </li>
                  <li>
                    <a href="https://oneplus.net/press">Press</a>
                  </li>
                  <li>
                    <a href=" https://oneplusstore.in/privacy-and-legal">Privacy and Legal</a>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
            </div>
            <div class="container-infinite bg-warm-gray">
              <div class="container-text">
                <div class="contact-us">
                  <div class="current-store hidden-footer-not-xs">
                    <i class="in"></i>India ( English /  INR )
                  </div>
                  <div class="customer-support">
                    <a class="one-tel-number service-number" href="tel:1800 102 8411 (Toll Free)"><i class="ico ico-call"></i> 1800 102 8411 (Toll Free)</a>
          <p class="one-tel-time service-available">9 am - 9 pm, Monday to Sunday</p>
          <span class="div-line"></span>
                    <p class="social-media">
                      <a href="https://www.facebook.com/oneplusin" class="link-gray" target="_blank"><i class="ico ico-facebook"></i></a>
                      <a href="https://www.instagram.com/oneplus_india" class="link-gray" target="_blank"><i class="ico ico-instagram"></i></a>
                      <a href="https://twitter.com/OnePlus_IN" class="link-gray" target="_blank"><i class="ico ico-twitter"></i></a>
                    </p>
                  </div>
                </div>
                <div class="copy-right">
                  © 2013 - 2017 OnePlus and Mobitech Creations
                </div>
              </div>
            </div>
          </footer> -->