<img style="padding-left:2%;float:left" src="../assets/iff-logo-large.png" alt="IFF logo" width="250" height="150">
<img style="padding-left:2%;float:right;visibility: hidden" src="../assets/iff-logo-large.png" alt="IFF logo" width="250"
  height="150">
<br>
<br>
<header>IFF Demo</header>

<br>
<router-outlet></router-outlet>
<br>
<br>
<br>
<footer style="clear: left;"> &#169; copyright, &#8704; &#8707; info here :
  <a href="https://angular.io/docs" target="_blank">Click here</a>
</footer>
<br>
<br>

