<div class="center">
  You are authenticated....Welcome
  <strong>{{name}}</strong> !!!
  <br>
  <nav>
    <ul>
      <li>
        <a routerLink="table">Table</a>
      </li>
      <li>
        <a routerLink="dashboard">Board</a>
      </li>
      <li>
        <a routerLink="create">Create</a>
      </li>
      <li>
        <a routerLink="details">Details</a>
      </li>
      <li class="navbar-form  navbar-right">
        <a style=" cursor: pointer" (click)="LogOut()">LogOut</a>
      </li>

    </ul>
  </nav>
  <br>

  <router-outlet></router-outlet>
</div>